<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Đăng ký mở shop | Fashion_ecommerce</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="/resources/img/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/resources/css/dangkymoshop.css"/>

	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="signup_form">
            <a href="/" class="site-logo">
				<img src="/resources/img/logo.png" alt="">
			</a>
			<div class="header">Thông tin shop</div>
			<div class="content">
				<ul class="login_box">
					<li><input type="text" placeholder="Tên" name="name" id="name"/></li>
					<li><input type="email" placeholder="Email" name="email" id="email"/></li>
					<li><input type="tel" placeholder="Số điện thoại" name="phone" id="phone"/></li>
					<li><input type="text" placeholder="Địa chỉ" name="address" id="address"/></li>
					<li>
						<label for="check">
							<input type="checkbox" id="check" />
							<span>Tôi đồng ý với <a href="#">Điều khoản</a> và <a href="#">Thỏa thuận</a>.</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="footer">
				<ul class="bar_tool">
					<button id="sub">Đăng ký</button>
				</ul>
			</div>
            <div class="error-handling">
                <div class="btn-trans">
                    <div>
                        <i class="fa fa-check-circle-o" aria-hidden="true" id="normal"></i>
                        <i class="fa fa-exclamation-circle" aria-hidden="true" id="error"></i> 
                    </div>
                    <div id="cause">...ĐANG CHỜ...</div>
                    <div id="source"></div>
                </div>
            </div>
		</div>
		<figure>
			<img src="https://picsum.photos/g/260/450" />
		</figure>
	</div>

    <div id="popup1" class="overlay">
    	<div class="popup">
    		<h2>Oops !!!</h2>
    		<a class="close" href="#">&times;</a>
    		<div class="content">
    			Có vẻ như bạn đã mở shop rồi !!!
    		</div>
    	</div>
    </div>

    <!--====== Javascripts & Jquery ======-->
	<script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/dangkymoshop.js"></script>
</body>

</html>