<div class="container_income">
    <div class="container_income_navbar">

    </div>
    <div class="container_income_img">
        <div class="img_header">
            <img src="/resources/img/shop/fox-coat-fashion-model-website-header.jpg" alt="" class="image_shop">
            <div class="container_text_header">
                <div class="text_images_welcome">
                    Tạo sản phẩm để bắt đầu bán hàng ngay hôm nay!
                </div>
                <div class="buttons">
                    <button class="btn-hover color-8"><i class="fas fa-plus"> &nbsp Tạo sản phẩm</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container_income_items">
            <div class="container_item_include">
                <div class="container_item_ic " style="background-color:rgb(57, 159, 255)">
                    <div class="product_selling">
                        Sản phẩm đang bán
                    </div>
                    <div class="product_selling_number">
                        0
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Đang chờ duyệt
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Bị từ chối trong 30 ngày
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Bị khóa 30 ngày gần đây
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Sắp hết tồn kho
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-left: 4px; margin-right: 10px">
                                    <i class="far fa-file-alt"></i>
                                </div>
                                <div>Tạo mới/đăng sản phẩm</div>
                            </div>
                        </div>
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-right: 6px;">
                                    <i class="fas fa-tshirt"></i>
                                </div>
                                <div>
                                    Danh sách sản phẩm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_item_ic" style="background-color:rgb(63, 104, 218)">

                    <div class="product_selling">
                        Đơn hàng đang xử lý
                    </div>
                    <div class="product_selling_number">
                        0
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Cần xác nhận
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Cần in hóa đơn
                        </div>
                        <div class="number_func">
                            0
                        </div>
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-left: 4px; margin-right: 10px">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </div>
                                <div>Xác nhận đơn hàng</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_item_ic" style="background-color:rgb(42, 42, 158)">
                    <div class="product_selling">
                        Doanh thu hôm nay
                    </div>
                    <div class="product_selling_number">
                        88,000đ
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Tổng đơn hàng hôm nay
                        </div>
                        <div class="number_func">
                            2
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            Sản lượng bán hôm nay
                        </div>
                        <div class="number_func">
                            2
                        </div>
                    </div>
                    <div class="product_selling_func">
                        <div class="name_func">
                            30 ngày gần đây
                        </div>
                        <div class="number_func">
                            390,000đ
                        </div>
                    </div>
                    <div class="container_btn">
                        <div class="product_selling_btn">
                            <div class="func_btn">
                                <div style="margin-left: 4px; margin-right: 10px">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div>Báo cáo bán hàng tổng hợp</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_item_rate">
                <div class="product_selling_rate">
                    Chỉ số năng lực
                </div>
                <div class="product_rate_star">
                    Chưa có đánh giá
                </div>
                <div class="wrap-stars">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>

                <div class="rating_title" style="margin-top: 30px;">
                    Các chỉ số được reset mỗi tháng
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ từ chối đơn hàng
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ đơn hàng hủy
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ xử lý chậm
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="product_rating_func">
                    <div class="name_func">
                        Tỉ lệ sản phẩm lỗi
                    </div>
                    <div class="number_func">
                        0% <i class="fas fa-info-circle"></i>
                    </div>
                </div>

                <div class="rating_title" style="margin-top: 5px;">
                    (Đối với trường hợp Divisima đi lấy hàng)
                </div>

                <div class="product_rating_btn">
                    <div class="func_btn">
                        <div style="margin-left: 4px; margin-right: 10px">
                            <i class="fas fa-exclamation-circle" style="color: #f8a50b;"></i>
                        </div>
                        <div>Hiện tại đang được nâng cấp</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="warning_text">*Các chỉ số bạn đang xem ở trang chủ được cập nhật mỗi giờ một lần. Đối với doanh thu nhà bán có thể truy cập "Báo bán hàng tổng hợp" để xem báo cáo theo thời gian thực</div>
    </div>
</div>