body {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 400px;
    font-family: Raleway;
    background: url(https://eskipaper.com/images/fashion-model-redhead-look-1.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  body .menu {
    position: absolute;
    width: 100%;
    background: inherit;
  }
  body .menu .mainmenu {
    background: url(https://eskipaper.com/images/fashion-model-redhead-look-1.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
  }
  body .menu .mainmenu:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  body .menu .mainmenu:after {
    clear: both;
    content: "";
    display: block;
  }
  body .menu .mainmenu .menuitem {
    float: left;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
  }
  body #findpass {
    top: 50%;
    left: 5%;
    padding: 10px 20px;
    width: auto;
    max-width: 30%;
    background: white;
    color: rgba(0, 0, 0, 0.7);
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 7px rgb(190, 112, 112);
    border: 2px solid rgba(128, 125, 125, 0.4);
    font-size: 1.2rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  body #findpass:focus {
    outline: none;
  }
  body .article {
    width: 960px;
    font-size: 1.4rem;
    margin: 20px auto;
    color: white;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    -webkit-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
    top: 0;
    position: relative;
  }
  body .article.active {
    opacity: 1;
    visibility: visible;
  }
  body .article h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .input-mb10{
    margin-bottom:10px !important;
  }
  
  .form {
    margin: 0 auto;
    position: fixed;
    top: 35%;
    left: 50%;
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 350px;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* background: inherit; */
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgb(184, 132, 132);
  }
  .form .forceColor {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .form:before {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    background: inherit;
    left: -5%;
    right: 0;
    bottom: 0;
    top: -5%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  .form.goAway {
    opacity: 0;
    -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
    -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
    -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
    transform: scale(0.6) translate3d(-50%, 0, 0);
    -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
    -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
    -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
    transition: transform 200ms ease-in-out, opacity 100ms linear;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
  }
  .form .topbar .spanColor {
    position: absolute;
    width: 0px;
    right: 20px;
    height: 43px;
    opacity: 0.2;
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
    -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
    -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
    -webkit-transition-delay: 0s, 250ms, 250ms;
    transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  }
  .form .topbar .input {
    display: block;
    width: 100%;
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1rem;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
  }
  .form .topbar .input::-webkit-input-placeholder {
    color: white;
    font-size: 1.2rem;
    font-family: Raleway;
    line-height: 1.3rem;
    font-weight: 200;
  }
  .form .topbar .input:focus {
    outline: none;
    color: white;
    border: 1px solid white;
  }
  .form .topbar .input.disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .form .topbar .input:hover {
    border: 1px solid white;
  }

  .form .submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.2rem;
    font-family: Raleway;
    font-weight: 200;
    display: block;
    color: black;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
  }
  .form .submit:focus {
    outline: none;
  }
  .form .submit:hover {
    color: red;
    border: 1px solid black;
  }
  .form .submit.recover {
    background: #FF2B4B;
    color: white !important;
    border: 1px solid white !important;
    transition: all 400ms linear;
  }
  
  .topbar.error .spanColor {
    width: calc(100% - 39px);
    border-top-left-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 6px;
    background-color: #FF2B4B;
  }
  .topbar.error + .submit {
    color: white;
  }
  .topbar.error .input {
    color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .topbar.error .input::-webkit-input-placeholder {
    color: white;
  }
  
  .topbar.success .spanColor {
    width: calc(100% - 39px);
    border-top-left-radius: 6px;
    border: 1px solid #26C97D;
    border-bottom-left-radius: 6px;
    background-color: #26C97D;
  }
  .topbar.success + .submit {
    color: white;
    border: 1px solid white;
  }
  .topbar.success .input {
    color: white;
    border: 1px solid #26C97D;
  }
  .topbar.success .input::-webkit-input-placeholder {
    color: white;
  }

  .success-color{
    background-color: rgb(27, 218, 27);
  }

  .signin{
    top: 3%;
    /* left: 85%; */
    right:5%;
    padding: 10px 20px;
    background: white;
    
    position: fixed;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255,255,255);
    font-size: 1.2rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  .signin a{
    text-decoration: none;
    color: rgba(255,255,255,1);
  }

.form_signup{
  top: 25%;
}

.logo{
  margin-top:125px;
  margin-left: 44%;
  position: fixed;
}

.logo-signup{
  top:14%;
  left:43%;
  position: fixed;
}

a.site-logo:hover img:hover{
  cursor: pointer;
  transform: scale(1.15);
}

#forget-pass{
  float: right;
  position: relative;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

#forget-pass:hover{
  color:black;
  transform: scale(1.1);
}

button{
  margin-bottom:5px;
}

@media only screen and (max-width: 1100px) {
  .logo{
    margin-left: 40%;
  }

  .logo-signup{
    left:40%;
  }

  body #findpass{
    top: 88%;
    max-width: 80%;
    margin:0 auto;
    background: rgba(255, 255, 255, 0.76);
  }
}

@media only screen and (max-width: 800px) {
  .logo{
    margin-left: 38%;
  }

  .logo-signup{
    left:38%;
  }

  .banner__close{
    display: none;
  }

  /* .form_signup{
    top: 10%;
  } */
}

@media only screen and (max-width: 680px) {
  .logo{
    margin-left: 34%;
  }

  .logo-signup{
    left:34%;
  }

  .signin{
    top:15%;
  }

  .logo{
    margin-top:138px;
  }
}

@media only screen and (max-width: 500px) {
  .logo{
    margin-left: 30%;
  }

  .logo-signup{
    left:30%;
  }
}

@keyframes rotate-scale-down-diag-1{0%{transform:scale(1) rotate3d(1,1,0,0deg)}50%{transform:scale(.5) rotate3d(1,1,0,-180deg)}100%{transform:scale(1) rotate3d(1,1,0,-360deg)}}
.rotate-scale-down-diag-1{animation:rotate-scale-down-diag-1 1.5s linear .5s both}

@keyframes flicker-in-2{0%{opacity:0}10%{opacity:0;box-shadow:none}10.1%{opacity:1;box-shadow:none}10.2%{opacity:0;box-shadow:none}20%{opacity:0;box-shadow:none}20.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;box-shadow:none}30%{opacity:0;box-shadow:none}30.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;box-shadow:none}45%{opacity:0;box-shadow:none}45.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;box-shadow:none}57%{opacity:0;box-shadow:none}57.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.3)}60%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.3)}60.1%{opacity:0;box-shadow:none}65%{opacity:0;box-shadow:none}65.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.3),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.3),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;box-shadow:none}77%{opacity:0;box-shadow:none}77.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;box-shadow:none}86%{opacity:0;box-shadow:none}86.1%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}
.flicker-in-2{animation:flicker-in-2 1s linear .2s both}

.banner {
  background: #f51167;
  display:none;
}

.banner__content {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text {
  flex-grow: 1;
  font-size:1rem;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.banner__close {
  background: none;
  font-size:1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #ffffff;
}
