* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.page_wrapper {
  margin: auto;
  width: 90%;
  padding-bottom: 5%;
}

.title {
  color: #f51167;
}

.title_container {
  padding: 5vh 0 5vh 0;
}

.body_container {
  display: flex;
  flex-direction: row;
}

.tabs_container {
  flex: 1;
}

.tabs_container > .col-lg-3 {
  max-width: 100%;
}

.li_tab:hover {
  color: #f51167 !important;
  transition: all 0.75s;
}

.content_container {
  flex: 3;
}

.update_profile_title {
  padding-left: 15px;
  margin-bottom: 2rem;
}

.avatar_holder {
  width: fit-content;
  margin: 0;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: block;
  transition: border 0.15s ease-in;
}

.avatar_holder:hover {
  border: 2px solid #f51167;
  cursor: pointer;
}

.avatar_holder:hover .avatar_change_holder {
  padding-top: 10px;
  height: 25%;
}

.avatar_holder:hover .avatar_change_holder > img {
  height: 2em;
}

.avatar_image {
  position: absolute;
  background-color: aqua;
}
.avatar_image > img {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.avatar_change_holder {
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s;
  padding-top: 0;
  background-color: #d3d3d3;
  opacity: 0.5;
}

.avatar_change_holder > img {
  width: auto;
  height: 0em;
  margin-bottom: 10px;
}

.save_btn_group {
  display: flex;
  justify-content: space-between;
}

.change_password_btn,
.save_change_btn {
  background-color: #f51167;
  color: whitesmoke;
}