.title_bar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    font-weight: 500;
    font-size: 20px;
}

.container_bill{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.container_bill_items{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 2px #d1d1d1;
}

.link_path{
    padding-left: 20px;
    padding-top: 10px;
}

.root_link{
    font-size: 13px;
}

.input_search{
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: row;
}

.input_search_menu{
    margin-top: 15px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #1d1d1d;
}

.title_combobox{
    font-size: 10px;
}

.container_combo_box{
    width: 30%;
    padding-left: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    height: 35px;
}

input {
    text-indent:10px;
}

.combo_box{
    width: 100%;
}

.combo_box_status{
    width: 70%;
}

.combo_box_select{
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.selected{

}

.drop-menu-down{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

.drop-menu-down.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.drop-down-cbx{
    position: static;
    max-height: 0;
    overflow: hidden;
    width: 27%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    z-index: 2;
    position: absolute;
    background-color: white;
    transition: all 0.4s ease;
    overflow: scroll;
}

.drop-down-cbx-status{
    position: static;
    max-height: 0;
    overflow: hidden;
    margin-left: 20px;
    width: 20%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    z-index: 2;
    position: absolute;
    background-color: white;
    transition: all 0.4s ease;
    overflow: scroll;
}

.drop-down-cbx-status.show{
    max-height: 200px;
}

.drop-down-cbx-status.disable{
    max-height: 0px;
}

.drop-down-cbx.show{
    max-height: 200px;
}

.drop-down-cbx.disable{
    max-height: 0px;
}

.item-select-cbx{
    padding: 5px 5px 5px 10px;
    cursor: pointer;
}

.item-select-cbx.active{
    background-color: #f1f1f1;
}

.ctn_seach_cbx{
    margin-left: 10px;
    width: 100px;
    position: relative;
}

.btn_search_input{
    background-color: #1d1d1d;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    cursor: pointer;
}

.fa-search{
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text_find{
    padding-left: 20px;
}

.ctn_reset_cbx{
    margin-left: 10px;
    position: relative;
    width: 100px;
}

.btn_reset_input{
    background-color: white;
    position: absolute;
    bottom: 0;
    color: #1d1d1d;
    display: flex;
    flex-direction: row;
    padding: 6px 20px 6px 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    cursor: pointer;
}

.fa-undo-alt{
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tab_triger ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding-left: 10px;
}


.container_tabs_table
{
    padding-top: 50px;
    position: relative;
}
.tab_triger ul li{
    width: 100%;
}

.tab_triger ul li label{
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: color 0.5s ease;
}

.tab_triger ul li label:hover{
    color:#f51167;
}



.tab_container_wrap{
    position: relative;
}

.tab_container_wrap input{
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -100;
    display: none;
}

/* .tab_container_wrap input:checked + .tab_container_box{
    display: block;

} */

.tab_container_box{
    /* transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms; */
}

/* .tab_container_box:nth-of-type(1){
    background: red;
}

.tab_container_box:nth-of-type(2){
    background: forestgreen;
}

.tab_container_box:nth-of-type(3){
    background: blue;
}

.tab_container_box:nth-of-type(4){
    background: #1d1d1d;
} */

[data-tab-content]{
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}

.active_tab[data-tab-content]{
    position: relative;
    display: block;
    opacity: 1;
    transform: scale(1);
}

.active_tab_title[data-tab-target]{
    border-bottom: 2px solid #f51167;
    color: #f51167;
}

.table_bill_container{
    position: relative;
    padding-bottom: 30px;
}

tr{
    transition: all.2s ease-in;
    cursor: pointer;
}

th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header{
    background-color: #16a085;
    color: #fff;
}

h1{
    font-weight: 600;
    text-align: center;
    background-color: #16a085;
    color: #fff;
    padding: 10px 0px;
}

tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%); */
    border-collapse: collapse;
    width: 100%;
    height: 100px;
    border: 1px solid #bdc3c7;
}

.btn_container_pagination{
    display: flex;
    justify-content: flex-end;
}

.prev_bill{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.prev_bill a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.after_bill{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.after_bill a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.disabled{
    border: 1px solid #dbdbdb;
    color: #dbdbdb;
}

.total_pagination{
    font-size: 13px;
    margin-right: 20px;
}

.btn_container_pagination{
    padding-bottom: 20px;
}

.prev_bill_confirm{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.prev_bill_confirm a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.after_bill_confirm{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.after_bill_confirm a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.prev_bill_travelling{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.prev_bill_travelling a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.after_bill_travelling{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.after_bill_travelling a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.prev_bill_travelled{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.prev_bill_travelled a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.after_bill_travelled{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.after_bill_travelled a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.prev_bill_discard{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.prev_bill_discard a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.after_bill_discard{
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    margin-right: 10px;
}

.after_bill_discard a{
    padding: 10px;
    text-decoration: none;
    color: #1d1d1d;
}

.cate-name-sidebar a{
    pointer-events: none;
    color: #212529;
}

.catesub-name-sidebar a{
    pointer-events: none;
    color: #212529;
}


/*Thông tin chi tiết đơn*/

.customer-information{
    padding-left: 20px;
    padding-top: 10px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.input_detail{
    width: 100%;
}

.input_detail_ct{
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: row;
}

.btn_update_input{
    background-color: #6888e0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    cursor: pointer;
}

.btn_back_input{
    background-color: #e23e3e;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d1d1d1;
    cursor: pointer;
}

.ctn_update_cbx{
    margin-left: 10px;
    width: 130px;
    position: relative;
}

.container-update-detail{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}

.product_cart_bill img{
    height: 70px;
    width: 70px;
}

.product_cart_bill{
    display: flex;
    align-items: center;
}

.ctn-product-properties{
    padding-left: 10px;
}

.name-prod{
    font-size: 18px;
    font-weight:bold;
}

.total_all_price{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ctn_total_price{
    display: flex;
    color: white;
    font-weight: bolder;
    padding-right: 6%;
    font-size: 18px;
}

.text-total{
    padding-right: 10px;
}

/*Rating star*/

.container-ratingstar{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    place-items: center;
    text-align: center;
    display: none;
}

.container-star{
    width: 400px;
    background: #ffff;
    padding: 20px 30px;
    border: 1px solid #f51167;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.container-star .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover~label{
    color: #f51167;
}

input:checked ~ label{
    color: #f51167;
}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #ffff;
}

.fucking_star header{
    width: 100%;
    font-size: 25px;
    color: black;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

.fucking_star .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.fucking_star .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: black;
    border: 1px solid #333;
    border-radius: 10px;
    background: #ffff;
    padding:  10px;
    font-size: 17px;
    resize: none;
}

.fucking_star .btn-submit-rating{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

.fucking_star .btn-submit-rating button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    border-radius: 10px;
    outline: none;
    background: #ffff;
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fucking_star .btn-submit-rating button:hover{
    background: #f51167;
    color: #ffff;
}

.hide_rating{
    color: #444;
    font-weight: 500;
    position: absolute;
    margin-bottom: 300px;
    margin-left: 330px;
    cursor: pointer;
}

/*update dialog*/

.update-bill-dialog{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.507);
    position: fixed;
    z-index: 2;
    place-items: center;
    text-align: center;
    display: none;
}

.update-bill-dialog-change{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.507);
    position: fixed;
    z-index: 2;
    place-items: center;
    text-align: center;
    display: none;
}

.dialog{
    width: 400px;
    background: white;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 15%;
}

.dialog-user{
    width: 400px;
    background: white;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 10%;
}

.container-dialog-btn{
    display: flex;
    padding-top: 20px;
}

.question-dialog{
    font-size: 20px;
    font-weight: 500;
}

.status-bill-dialog{
    font-weight: bold;
}

.update-bill-dialog-user{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    place-items: center;
    text-align: center;
    display: none;
}

.edit-shop-btn{
    margin-top: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.edit-shop-btn .edit-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#f14ebd
}

.edit-shop-btn .edit-btn:hover{
    border-color: rgba(255,255,255,1);
}
    @media all and (max-width:30em){
    .edit-btn{
        display:block;
        margin:0.2em auto;
    }
}

@media only screen and (max-width: 375px) {
    .input_search {
      padding: 0;
      flex-direction: column;
    }
  
    th, td {
      font-size: 0.7rem;
      padding: 6px;
    }
  
    .tab_triger  ul {
      padding-left: 0px !important;
    }

    .container_bill {
        padding: 0;
        margin-bottom: 20px;
    }

    .container_bill_items {
        height: 100%;
    }

    #myInput, .container_combo_box {
        width: 80%;
        margin: auto;
    }

    .drop-down-cbx {
        width: 80%;
    }

    .ctn_seach_cbx, .ctn_reset_cbx {
        display: none;
    }

    .input_detail_ct {
        padding-left: 5px;
    }

    .product_cart_bill {
        flex-direction: column;
    }

    .single-price {
        display: none;
    }

    .name-prod {
        font-size: 0.8rem;
    }
}